* {
	box-sizing: border-box;
}

body {
	font-family: Arial, helvetica, sans-serif;
	padding: 10px;
	background-color: #f1f1f1;
}

header {
	background-color: white;
	text-align: center;
	padding: 30px;
}
header h1 {
	font-size: 50px;
}